@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-header: 'Averia Serif Libre';
  --toc-width: calc(min(20rem, 50%));
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-stone-700 transition-colors duration-200 dark:text-stone-400;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  @apply text-black dark:text-white;
}

/* Document level adjustments */
html {
  scroll-padding-top: 3rem;
  font-size: 18px;
  box-sizing: border-box;
}
img[src*='#right'] {
  float: right;
  margin-left: 2rem;
}
img[src*='#round'] {
  border-radius: 0.5rem;
}
body {
  @apply bg-stone-100 dark:bg-stone-900;
}
.link,
a {
  @apply text-blue-700 transition-colors duration-200 visited:text-blue-700 hover:text-blue-800 dark:text-blue-400 dark:visited:text-blue-400 dark:hover:text-blue-200;
}
h1 {
  font-family: var(--font-header);
  @apply text-3xl font-bold md:text-4xl;
}
h2 {
  font-family: var(--font-header);
  @apply text-2xl md:text-3xl;
}
h3 {
  font-family: var(--font-header);
  @apply text-xl md:text-2xl;
  margin-top: 1rem;
}
h4 {
  font-family: var(--font-header);
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  @apply text-base;
}
p {
  margin-bottom: 2rem;
}
li p {
  margin-bottom: 1rem;
}
article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}
article ol,
article ul {
  padding-left: 1rem;
  margin-bottom: 2rem;
}
article ol li,
article ul li {
  padding-left: 0.5rem;
}
article pre {
  margin-bottom: 2rem;
  padding: 1rem;
  overflow-x: auto;
  @apply bg-stone-300 dark:bg-stone-800;
}
article code {
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-width: 1px;
  @apply border-stone-300 bg-stone-200 dark:border-stone-700 dark:bg-stone-800;
}
article .half-height img {
  max-height: 30rem;
}

article blockquote {
  border-left: 2px solid #ddd;
  padding: 2rem 2rem 0.1rem 2rem;
  margin-bottom: 2rem;
  font-style: italic;
  @apply bg-stone-300 dark:bg-stone-800;
}
button {
  @apply cursor-pointer;
}

.db {
  border: 1px solid red;
}

.resume h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid;
  @apply border-stone-300 dark:border-stone-700;
}
.resume .job-date {
  float: right;
  line-height: 2.5rem;
}
.resume .job-company {
  line-height: 2.5rem;
}
.resume ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.resume li p {
  margin-bottom: 0rem;
}

@media print {
  body {
    font-size: 11px;
  }

  .avoidbreak {
    break-inside: avoid;
  }

  .noprint {
    display: none;
  }
}

.TableOfContents .level-2 {
  margin-left: 0rem;
}
.TableOfContents .level-3 {
  margin-left: 2rem;
}
.TableOfContents .level-4 {
  margin-left: 4rem;
}
.TableOfContents .level-5 {
  margin-left: 6rem;
}
.TableOfContents .level-6 {
  margin-left: 8rem;
}

.site-nav {
  position: relative;
}
.site-nav .nav-trigger {
  display: none;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
.site-nav .page-link {
  display: block;
  margin-top: 2rem;
  margin-left: -4rem;
}
.site-nav .page-link:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .site-nav .page-link {
    display: inline;
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .site-nav {
    @apply border-stone-300 bg-stone-100 dark:border-stone-700 dark:bg-stone-800;
    position: absolute;
    top: 3.5rem;
    right: 1rem;
  }
  .site-nav label[for='nav-trigger'] {
    display: block;
    position: absolute;
    top: -2.7rem;
    right: 0.6rem;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    height: 2.6rem;
    width: 2.6rem;
    border: 1px solid;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    @apply rounded-lg border-stone-300 dark:border-stone-700;
  }
  .site-nav .menu-icon > svg {
    @apply fill-stone-600 dark:fill-stone-400;
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    float: right;
    padding-bottom: 0.5rem;
    border: 1px solid;
  }
  .site-nav .page-link {
    display: block;
    padding: 2rem;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}
