@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pagebg-light dark:bg-pagebg-dark text-text-light dark:text-text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  @apply text-header-light dark:text-header-dark font-header;
}

/* Document level adjustments */
html {
  font-size: 18px;
  @apply scroll-pt-12;
}
img[src*='#right'] {
  @apply float-right ml-8;
}
img[src*='#round'] {
  @apply rounded-md;
}
.link,
a {
  @apply text-link-base-light visited:text-link-visited-light hover:text-link-hover-light dark:text-link-base-dark dark:visited:text-link-visited-dark dark:hover:text-link-hover-dark transition-colors duration-200;
}
h1 {
  @apply text-3xl font-bold md:text-4xl;
}
h2 {
  @apply text-2xl md:text-3xl;
}
h3 {
  @apply text-xl md:text-2xl;
  margin-top: 1rem;
}
h4 {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  @apply text-base;
}
p {
  margin-bottom: 2rem;
}
li p {
  margin-bottom: 1rem;
}
article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}
article ol,
article ul {
  padding-left: 1rem;
  margin-bottom: 2rem;
}
article ol li,
article ul li {
  padding-left: 0.5rem;
}
article pre {
  margin-bottom: 2rem;
  padding: 1rem;
  overflow-x: auto;
  @apply bg-shadebg-light dark:bg-shadebg-dark;
}
article code {
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-width: 1px;
  @apply border-border-light bg-shadebg-light dark:border-border-dark dark:bg-shadebg-dark;
}
article .half-height img {
  max-height: 30rem;
}

article blockquote {
  border-left: 2px solid #ddd;
  padding: 2rem 2rem 0.1rem 2rem;
  margin-bottom: 2rem;
  font-style: italic;
  @apply bg-shadebg-light dark:bg-shadebg-dark;
}
button {
  @apply cursor-pointer;
}

.db {
  border: 1px solid red;
}

.resume h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid;
  @apply border-border-light dark:border-border-dark;
}
.resume .job-date {
  float: right;
  line-height: 2.5rem;
}
.resume .job-company {
  line-height: 2.5rem;
}
.resume ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.resume li p {
  margin-bottom: 0rem;
}

@media print {
  body {
    font-size: 11px;
  }

  .avoidbreak {
    break-inside: avoid;
  }

  .noprint {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
  }
}
